.item {
  width: 270px;
  height: 350px;
}

.imgWrapper {
  background-color: #f5f5f5;
  width: 270px;
  height: 250px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info > h3 {
  font-size: 1rem;
  margin-bottom: 0;
}

.prices > span {
  font-weight: 650;
}

.discount {
  color: #db4444;
}

.price {
  opacity: 0.5;
  text-decoration: line-through;
}

.reviews,
.prices {
  display: flex;
  gap: 0.5rem;
}

.reviews > span > img {
  pointer-events: none;
  user-select: none;
}

.opinions {
  font-weight: 650;
  opacity: 0.5;
}
