.productInCart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  font-size: 1rem;
}

.imgProductNameWrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.imgWrapper {
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.imgWrapper > img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
}
