.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  max-width: var(--max-width);
  padding: 2rem var(--padding) 1.25rem var(--padding);
  margin: 0 auto;
  border-bottom: 1px solid #c0bebe;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.logo > a {
  text-decoration: none;
  color: black;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

.menu > a {
  text-decoration: none;
  color: black;
  text-align: center;
  min-width: 60px;
  height: 20px;
}

.menu > a:hover {
  text-decoration: underline;
}

.navbar > button {
  display: none;

  background-color: transparent;
  border: none;

  cursor: pointer;

  font-size: 1.25rem;
}

@media (max-width: 815px) {
  .menu {
    display: none;
  }
  .navbar > button {
    display: block;
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions > * {
  cursor: pointer;
}

.search {
  width: 15rem;
  display: flex;
  align-items: center;
  position: relative;
}

.search > input {
  width: 100%;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
}

.search > input:focus {
  outline: none;
}

.search > img {
  position: absolute;
  right: 0.5rem;
  cursor: pointer;
}

@media (max-width: 815px) {
  .actions {
    display: none;
  }
}
